<div class="container-xxl py-5">
    <div class="container">
        <div class="bg-light rounded">
            <div class="row g-0">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="h-100 d-flex flex-column justify-content-center p-5">
                        <h1 id="appointment-1" class="mb-4"><%= translations.appointment1 %></h1>
                        <form>
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control border-0" id="gname"
                                            placeholder="Gurdian Name">
                                        <label id="appointment-2" for="gname"><%= translations.appointment2 %></label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control border-0" id="gmail"
                                            placeholder="Gurdian Email">
                                        <label id="appointment-3" for="gmail"><%= translations.appointment3 %></label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control border-0" id="cname"
                                            placeholder="Child Name">
                                        <label id="appointment-4" for="cname"><%= translations.appointment4 %></label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control border-0" id="cage"
                                            placeholder="Child Age">
                                        <label id="appointment-5" for="cage"><%= translations.appointment5 %></label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control border-0"
                                            placeholder="Leave a message here" id="message"
                                            style="height: 100px"></textarea>
                                        <label id="appointment-6" for="message"><%= translations.appointment6 %></label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button id="appointment-7" class="btn btn-primary w-100 py-3"
                                        type="submit"><%= translations.appointment7 %></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="/img/appointment.jpg"
                            style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>