<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 id="classes-1" class="mb-3">
                <%= translations.classes1 %>
            </h1>
            <p id="classes-2">
                <%= translations.classes2 %>
            </p>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="classes-item">
                    <div class="bg-light rounded-circle w-75 mx-auto p-3">
                        <img class="img-fluid rounded-circle" src="/img/classes-1.jpg" alt="">
                    </div>
                    <div class="bg-light rounded p-4 pt-5 mt-n5">
                        <a id="classes-3" class="d-block text-center h3 mt-3 mb-4" href="">
                            <%= translations.classes3 %>
                        </a>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle flex-shrink-0" src="/img/user.jpg" alt=""
                                    style="width: 45px; height: 45px;">
                                <div class="ms-3">
                                    <h6 id="classes-4" class="text-primary mb-1">
                                        <%= translations.classes4 %>
                                    </h6>
                                    <small id="classes-5">
                                        <%= translations.classes5 %>
                                    </small>
                                </div>
                            </div>
                            <span id="price-link" class="bg-primary text-white rounded-pill py-2 px-3"
                                style="cursor:pointer;">$99</span>
                        </div>
                        <div class="row g-1">
                            <div class="col-4">
                                <div class="border-top border-3 border-primary pt-2">
                                    <h6 id="classes-6" class="text-primary mb-1">
                                        <%= translations.classes6 %>
                                    </h6>
                                    <small id="classes-7">
                                        <%= translations.classes7 %>
                                    </small>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="border-top border-3 border-success pt-2">
                                    <h6 id="classes-8" class="text-success mb-1">
                                        <%= translations.classes8 %>
                                    </h6>
                                    <small id="classes-9">
                                        <%= translations.classes9 %>
                                    </small>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="border-top border-3 border-warning pt-2">
                                    <h6 id="classes-10" class="text-warning mb-1">
                                        <%= translations.classes10 %>
                                    </h6>
                                    <small id="classes-11">
                                        <%= translations.classes11 %>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="classes-item">
                    <div class="bg-light rounded-circle w-75 mx-auto p-3">
                        <img class="img-fluid rounded-circle" src="/img/classes-2.jpg" alt="">
                    </div>
                    <div class="bg-light rounded p-4 pt-5 mt-n5">
                        <a id="classes-12" class="d-block text-center h3 mt-3 mb-4" href="">
                            <%= translations.classes12 %>
                        </a>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle flex-shrink-0" src="/img/user.jpg" alt=""
                                    style="width: 45px; height: 45px;">
                                <div class="ms-3">
                                    <h6 id="classes-4" class="text-primary mb-1">
                                        <%= translations.classes4 %>
                                    </h6>
                                    <small id="classes-5">
                                        <%= translations.classes5 %>
                                    </small>
                                </div>
                            </div>
                            <span id="price-link" class="bg-primary text-white rounded-pill py-2 px-3"
                                style="cursor:pointer;">$99</span>
                        </div>
                        <div class="row g-1">
                            <div class="col-4">
                                <div class="border-top border-3 border-primary pt-2">
                                    <h6 id="classes-6" class="text-primary mb-1">
                                        <%= translations.classes6 %>
                                    </h6>
                                    <small id="classes-7">
                                        <%= translations.classes7 %>
                                    </small>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="border-top border-3 border-success pt-2">
                                    <h6 id="classes-8" class="text-success mb-1">
                                        <%= translations.classes8 %>
                                    </h6>
                                    <small id="classes-9">
                                        <%= translations.classes9 %>
                                    </small>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="border-top border-3 border-warning pt-2">
                                    <h6 id="classes-10" class="text-warning mb-1">
                                        <%= translations.classes10 %>
                                    </h6>
                                    <small id="classes-11">
                                        <%= translations.classes11 %>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="classes-item">
                    <div class="bg-light rounded-circle w-75 mx-auto p-3">
                        <img class="img-fluid rounded-circle" src="/img/classes-3.jpg" alt="">
                    </div>
                    <div class="bg-light rounded p-4 pt-5 mt-n5">
                        <a id="classes-13" class="d-block text-center h3 mt-3 mb-4" href="">
                            <%= translations.classes13 %>
                        </a>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle flex-shrink-0" src="/img/user.jpg" alt=""
                                    style="width: 45px; height: 45px;">
                                <div class="ms-3">
                                    <h6 id="classes-4" class="text-primary mb-1">
                                        <%= translations.classes4 %>
                                    </h6>
                                    <small id="classes-5">
                                        <%= translations.classes5 %>
                                    </small>
                                </div>
                            </div>
                            <span id="price-link" class="bg-primary text-white rounded-pill py-2 px-3"
                                style="cursor:pointer;">$99</span>
                        </div>
                        <div class="row g-1">
                            <div class="col-4">
                                <div class="border-top border-3 border-primary pt-2">
                                    <h6 id="classes-6" class="text-primary mb-1">
                                        <%= translations.classes6 %>
                                    </h6>
                                    <small id="classes-7">
                                        <%= translations.classes7 %>
                                    </small>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="border-top border-3 border-success pt-2">
                                    <h6 id="classes-8" class="text-success mb-1">
                                        <%= translations.classes8 %>
                                    </h6>
                                    <small id="classes-9">
                                        <%= translations.classes9 %>
                                    </small>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="border-top border-3 border-warning pt-2">
                                    <h6 id="classes-10" class="text-warning mb-1">
                                        <%= translations.classes10 %>
                                    </h6>
                                    <small id="classes-11">
                                        <%= translations.classes11 %>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="classes-item">
                    <div class="bg-light rounded-circle w-75 mx-auto p-3">
                        <img class="img-fluid rounded-circle" src="/img/classes-4.jpg" alt="">
                    </div>
                    <div class="bg-light rounded p-4 pt-5 mt-n5">
                        <a id="classes-14" class="d-block text-center h3 mt-3 mb-4" href="">
                            <%= translations.classes14 %>
                        </a>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle flex-shrink-0" src="/img/user.jpg" alt=""
                                    style="width: 45px; height: 45px;">
                                <div class="ms-3">
                                    <h6 id="classes-4" class="text-primary mb-1">
                                        <%= translations.classes4 %>
                                    </h6>
                                    <small id="classes-5">
                                        <%= translations.classes5 %>
                                    </small>
                                </div>
                            </div>
                            <span id="price-link" class="bg-primary text-white rounded-pill py-2 px-3"
                                style="cursor:pointer;">$99</span>
                        </div>
                        <div class="row g-1">
                            <div class="col-4">
                                <div class="border-top border-3 border-primary pt-2">
                                    <h6 id="classes-6" class="text-primary mb-1">
                                        <%= translations.classes6 %>
                                    </h6>
                                    <small id="classes-7">
                                        <%= translations.classes7 %>
                                    </small>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="border-top border-3 border-success pt-2">
                                    <h6 id="classes-8" class="text-success mb-1">
                                        <%= translations.classes8 %>
                                    </h6>
                                    <small id="classes-9">
                                        <%= translations.classes9 %>
                                    </small>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="border-top border-3 border-warning pt-2">
                                    <h6 id="classes-10" class="text-warning mb-1">
                                        <%= translations.classes10 %>
                                    </h6>
                                    <small id="classes-11">
                                        <%= translations.classes11 %>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="classes-item">
                    <div class="bg-light rounded-circle w-75 mx-auto p-3">
                        <img class="img-fluid rounded-circle" src="/img/classes-4.jpg" alt="">
                    </div>
                    <div class="bg-light rounded p-4 pt-5 mt-n5">
                        <a id="classes-15" class="d-block text-center h3 mt-3 mb-4" href="">
                            <%= translations.classes15 %>
                        </a>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle flex-shrink-0" src="/img/user.jpg" alt=""
                                    style="width: 45px; height: 45px;">
                                <div class="ms-3">
                                    <h6 id="classes-4" class="text-primary mb-1">
                                        <%= translations.classes4 %>
                                    </h6>
                                    <small id="classes-5">
                                        <%= translations.classes5 %>
                                    </small>
                                </div>
                            </div>
                            <span id="price-link" class="bg-primary text-white rounded-pill py-2 px-3"
                                style="cursor:pointer;">$99</span>
                        </div>
                        <div class="row g-1">
                            <div class="col-4">
                                <div class="border-top border-3 border-primary pt-2">
                                    <h6 id="classes-6" class="text-primary mb-1">
                                        <%= translations.classes6 %>
                                    </h6>
                                    <small id="classes-7">
                                        <%= translations.classes7 %>
                                    </small>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="border-top border-3 border-success pt-2">
                                    <h6 id="classes-8" class="text-success mb-1">
                                        <%= translations.classes8 %>
                                    </h6>
                                    <small id="classes-9">
                                        <%= translations.classes9 %>
                                    </small>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="border-top border-3 border-warning pt-2">
                                    <h6 id="classes-10" class="text-warning mb-1">
                                        <%= translations.classes10 %>
                                    </h6>
                                    <small id="classes-11">
                                        <%= translations.classes11 %>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="classes-item">
                    <div class="bg-light rounded-circle w-75 mx-auto p-3">
                        <img class="img-fluid rounded-circle" src="/img/classes-4.jpg" alt="">
                    </div>
                    <div class="bg-light rounded p-4 pt-5 mt-n5">
                        <a id="classes-16" class="d-block text-center h3 mt-3 mb-4" href="">
                            <%= translations.classes16 %>
                        </a>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle flex-shrink-0" src="/img/user.jpg" alt=""
                                    style="width: 45px; height: 45px;">
                                <div class="ms-3">
                                    <h6 id="classes-4" class="text-primary mb-1">
                                        <%= translations.classes4 %>
                                    </h6>
                                    <small id="classes-5">
                                        <%= translations.classes5 %>
                                    </small>
                                </div>
                            </div>
                            <span id="price-link" class="bg-primary text-white rounded-pill py-2 px-3"
                                style="cursor:pointer;">$99</span>
                        </div>
                        <div class="row g-1">
                            <div class="col-4">
                                <div class="border-top border-3 border-primary pt-2">
                                    <h6 id="classes-6" class="text-primary mb-1">
                                        <%= translations.classes6 %>
                                    </h6>
                                    <small id="classes-7">
                                        <%= translations.classes7 %>
                                    </small>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="border-top border-3 border-success pt-2">
                                    <h6 id="classes-8" class="text-success mb-1">
                                        <%= translations.classes8 %>
                                    </h6>
                                    <small id="classes-9">
                                        <%= translations.classes9 %>
                                    </small>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="border-top border-3 border-warning pt-2">
                                    <h6 id="classes-10" class="text-warning mb-1">
                                        <%= translations.classes10 %>
                                    </h6>
                                    <small id="classes-11">
                                        <%= translations.classes11 %>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>