<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s"
            style="max-width: 600px;">
            <h1 id="facilities-1" class="mb-3"><%= translations.facilities1 %></h1>
            <p id="facilities-2" ><%= translations.facilities2 %></p>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="facility-item">
                    <div class="facility-icon bg-primary">
                        <span class="bg-primary"></span>
                        <i class="fa fa-bus-alt fa-3x text-primary"></i>
                        <span class="bg-primary"></span>
                    </div>
                    <div class="facility-text bg-primary">
                        <h3 id="facilities-3" class="text-primary mb-3"><%= translations.facilities3 %></h3>
                        <p id="facilities-4" class="mb-0"><%= translations.facilities4 %></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="facility-item">
                    <div class="facility-icon bg-success">
                        <span class="bg-success"></span>
                        <i class="fa fa-futbol fa-3x text-success"></i>
                        <span class="bg-success"></span>
                    </div>
                    <div class="facility-text bg-success">
                        <h3 id="facilities-5" class="text-success mb-3"><%= translations.facilities5 %></h3>
                        <p id="facilities-6" class="mb-0"><%= translations.facilities6 %></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="facility-item">
                    <div class="facility-icon bg-warning">
                        <span class="bg-warning"></span>
                        <i class="fa fa-home fa-3x text-warning"></i>
                        <span class="bg-warning"></span>
                    </div>
                    <div class="facility-text bg-warning">
                        <h3 id="facilities-7" class="text-warning mb-3"><%= translations.facilities7 %></h3>
                        <p id="facilities-8" class="mb-0"><%= translations.facilities8 %></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="facility-item">
                    <div class="facility-icon bg-info">
                        <span class="bg-info"></span>
                        <i class="fa fa-chalkboard-teacher fa-3x text-info"></i>
                        <span class="bg-info"></span>
                    </div>
                    <div class="facility-text bg-info">
                        <h3 id="facilities-9" class="text-info mb-3"><%= translations.facilities9 %></h3>
                        <p id="facilities-10" class="mb-0"><%= translations.facilities10 %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>