<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s"
            style="max-width: 600px;">
            <h1 id="testimonial-1" class="mb-3"><%= translations.testimonial1 %></h1>
            <p id="testimonial-2" ><%= translations.testimonial2 %></p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item bg-light rounded p-5">
                <p class="fs-5"><%= translations.testimonial3 %></p>
                <div class="d-flex align-items-center bg-white me-n5"
                    style="border-radius: 50px 0 0 50px;">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="/img/testimonial-1.jpg"
                        style="width: 90px; height: 90px;">
                    <div class="ps-3">
                        <h3 class="mb-1"><%= translations.testimonial4 %></h3>
                        <span><%= translations.testimonial5 %></span>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-5">
                <p class="fs-5"><%= translations.testimonial3 %></p>
                <div class="d-flex align-items-center bg-white me-n5"
                    style="border-radius: 50px 0 0 50px;">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="/img/testimonial-2.jpg"
                        style="width: 90px; height: 90px;">
                    <div class="ps-3">
                        <h3 class="mb-1"><%= translations.testimonial4 %></h3>
                        <span><%= translations.testimonial5 %></span>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-5">
                <p class="fs-5"><%= translations.testimonial3 %></p>
                <div class="d-flex align-items-center bg-white me-n5"
                    style="border-radius: 50px 0 0 50px;">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="/img/testimonial-3.jpg"
                        style="width: 90px; height: 90px;">
                    <div class="ps-3">
                        <h3 class="mb-1"><%= translations.testimonial4 %></h3>
                        <span><%= translations.testimonial5 %></span>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                </div>
            </div>
        </div>
    </div>
</div>